<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text {
            color: red;
        }
    </style>
</head>
<body>
<div><h1 id="h1-text">H1 text</h1>
    <h2 class="h2-text">H3424234 trxt</h2>
    <h6 class="h2-text">Зеленая строчка</h6>
    <p>ksgfbmsl;fgmb'bmsklfmgbfg;<span style="color: green">lbmsr </span>lr mlom lormtopm orpt mrw90 rw</p>
    <a href="https://www.jetbrains.com/pycharm/whatsnew/" target="_blank">python</a>
    <img alt='browsers.png' src="https://www.jetbrains.com/pycharm/whatsnew/2026-1/media/video-tour-preview.jpg"
         style="width: 250px">
    <ul>
        <li> item1</li>
        <li> item2</li>
        <li> item3</li>
    </ul>
    <ol>
        <li> item1</li>
        <li> item2</li>
        <li> item3</li>
    </ol>
    <form action="/action" method="POST">
        <input placeholder="test proba">
        <input required type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <textarea required placeholder=""></textarea>
        <button type="submit">кнопка</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>Item 1</td>
            <td>Item 2</td>
            <td>Item 3</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>